langchain
langgraph
dds
langchain-community
# langchain openai
langchain-openai
langgraph-checkpoint
langgraph-checkpoint-sqlite
# Essential dependencies
pydantic
typing_extensions
requests
python-dotenv
fastapi